requirements.txt
.idea
idea
frontend/static
fitness.db
.env
__pycache__
venv
.idea/misc.xml
alembic.ini
alembic/versions
backend/__pycache__/
backend/routes/__pycache__/
frontend/static/avatars
test.db